@media screen and (max-width:1369px) {

    body{
        margin: 0 8px;
    }
    .max-width-1 {
        max-width:none;
    }

    .max-width-2 {
        max-width:none;
    }

    .navigation {
        flex-direction: column;
        margin: 23px;
        /* margin-left: 100px; */
    }

    .nav-left ul{
        margin-left: 2px ;
        margin-right: 2px ;
    }
    .nav-left span {
        margin-bottom: 22px;
        /* background-color: rgb(204, 210, 212); */
    }

    .nav-left {
        flex-direction: column;
        text-align: center;
        margin: 12px 0;
        /* margin-left: 40px; */
        margin-left: 0;
    }

    .nav-right form {
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }

    .content-right {
        display: none;
    }

    .home-article {
        flex-direction: column;
    }

    .home-article-img {
        text-align: center;
        width: 274px;
    }

    .home-article-content {
        width: 274px;
        margin-top: 10px;
        padding-left: 0;
    }
    .home-article-content-container{
        width: auto;
    }

    .contact-content {
        height: 100vh;
    }

    .content::after {
        width: 93vw;
    }
    .contact-content::after {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-box input,
    textarea {
        width: 66vw;
    }

    .blog-article-img-container {
        width: 95px;
    }

    .blog-post-content p {
        margin: 0;
        padding: 15px 0;
    }

    .author-info div {
        padding: 4px 0px;
        width: 235px;
    }

    .row {
        flex-direction: column;
    }

    .social {
        padding: 4px 10px;
    }

    .social svg {
        padding: 7px 0;
    }

    .gallery-img-container {
        width: 200px;
        height: 150px;
    }

    .gallery-content-container {
        width: 200px;
        height: 30px;
    }

    .gallery-container {
        display: flex;
        flex-direction: column;
        margin: 30px 50px;
    }

    .gallery-display {
        margin-bottom: 20px;
        height: 400px;
        margin-left: 0;
        position: relative;
        left: -300px;
        width: 10px;
    }
    .gallery-display:hover{
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 2s;
    }
    .gallery-display:hover::after{
        margin-bottom: 20px;
        height: 400px;
        margin-left: 0;
        position: relative;
        left: -300px;
        width: 10px;
    }

    @-webkit-keyframes slide {
        100% {
            left: 0;
        }
    }

    @keyframes slide {
        100% {
            left: 0;
        }
    }
}