@media screen and (max-width:1369px) {

    body {
        margin: 0 8px;
    }

    .max-width-1 {
        max-width: none;
    }

    .max-width-2 {
        max-width: none;
    }

    .navigation {
        flex-direction: column;
        margin: 23px;
        /* margin-left: 100px; */
    }
    .close {
        visibility: hidden;
        height: 0;
        padding: 0;
        margin-top: 0;
        background-color: black;
    }
    
    .nav-left ul{
        flex-direction: column;
        margin-left: 2px ;
        margin-right: 2px ;
        flex-direction: column;
        margin-left: 2px;
        margin-right: 2px;
        /* position: absolute; */
        width: 100%;
        background-color: beige;
        gap: 2rem;
        transition: 0.5s;
        z-index: -1;
        padding: 2rem 0;
        transform: translateY(-800px);
        cursor: pointer;
    }
    .listbar.open{
        transform: translateY(0);
    }
    .nav-left span {
        margin-bottom: 22px;
        /* background-color: rgb(204, 210, 212); */
    }
    .listbar li a{
        color: black;
        transition: 0.3s;
    }
    .listbar a:hover{
        cursor: pointer;
        color: rgb(203, 216, 174);
    }

    .nav-left {
        flex-direction: column;
        text-align: center;
        margin:0;
        /* margin-left: 40px; */
        margin-left: 0;
    }

    .nav-right form {
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }

    .menu-btn {
        display: block;
    }
    .nav-left span{
        display: flex;
       gap: 200px;
    }





    .content-right {
        display: none;
    }

    .home-article {
        flex-direction: column;
    }

    .home-article-img {
        text-align: center;
        width: 274px;
    }

    .home-article-content {
        width: 274px;
        margin-top: 10px;
        padding-left: 0;
    }

    .home-article-content-container {
        width: auto;
    }

    .contact-content {
        height: 100vh;
    }

    .content::after {
        width: 93vw;
    }

    .contact-content::after {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form-box input,
    textarea {
        width: 66vw;
    }

    .blog-article-img-container {
        width: 95px;
    }

    .blog-post-content p {
        margin: 0;
        padding: 15px 0;
    }

    .author-info div {
        padding: 4px 0px;
        width: 235px;
    }

    .row {
        flex-direction: column;
    }

    .social {
        padding: 4px 10px;
    }

    .social svg {
        padding: 7px 0;
    }

    .gallery-img-container {
        width: 200px;
        height: 150px;
    }

    .gallery-content-container {
        width: 200px;
        height: 30px;
    }

    .gallery-container {
        display: flex;
        flex-direction: column;
        margin: 30px 50px;
    }

    .gallery-display {
        margin-bottom: 20px;
        height: 400px;
        margin-left: 0;
        position: relative;
        left: -300px;
        width: 10px;
    }
}

/*@media screen and (max-width:769px) {
    .navigation {
        flex-direction: column;
        margin: 23px;
         margin-left: 100px; 

    }
    .menu-btn{
        display: block;
      }
    .nav-left ul{
        margin-left: 2px ;
        margin-right: 2px ;
    } 
    .nav-left span {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 22px;
        
  
     .nav-left {
        flex-direction: column; 
        justify-content: space-between;
        text-align: center;
        margin: 12px 0;
        margin-left: 40px;
        margin-left: 0;
    } 

    .nav-right form {
        display: flex;
        flex-direction: row;
        margin-left: 0;
    } 

    .listbar {
        a{
            color: rgb(219, 206, 206);
        }
      position: absolute; 
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        background-color: black;
        transform: translateY(-100%);
        transition: 0.5s;
        z-index: -1;
      }

      .listbar.open {
        transform: translateY(0);
      }
      .menu-btn {
        font-size: 1.5rem;
        color: var(--white);
        cursor: pointer;
      }
      
      .listbar.open {
        transform: translateY(0);
      }
      
      .listbar a {
        color: var(--white);
        transition: 0.3s;
      }
      
      .listbar a:hover {
        color: var(--primary-color-dark);
      }

    
}*/
/* @media screen and (max-width:769px) {
    .menu-btn {
        display: block;
    }

    .navigation {
        flex-direction: column;
        margin: 23px;
        margin-left: 100px;
    }

    .nav-left {
        display: flex;
        flex-direction: column;
    }

    .nav-right form {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        
    }

    .nav-left span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 360px;
        a{
            margin-left: 10px;
        }
    }




} */