* {
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
}
a{
    color: rgb(42, 43, 44);
}
.navigation {
    font-family: var(--font1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
     top: 0;
    left: 0;
    width: 100%; 
    height: 80px;
    box-shadow:0 15px 10px rgb(180, 179, 182) ;
}
.navigation a img{
    width: 55px;
    height: 55px;
}
.group{
    display: flex;
    align-items: center;
}
.group ul{
    position: relative;
    display: flex;
    gap: 30px;
}
.group ul li{
    list-style: none; 
}
.group ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
}
.group ul li a::before{
    
    position:absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background:#535252;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
.group ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}
.search-Box{
   position: absolute;
   right: -100%;

   /* height: 100%; */
   width: 100%;
   display: flex;
   align-items: center;
   background: #fff;
   align-items: center;
   padding: 0 30px;
   transition: 0.5s ease-in-out;
}
.search-Box.active{
    right: 0;
}
.search-Box input{
 width: 50%;
    margin-left: 400px;
    margin-right: 300px;
    border: none;
    outline: none;
    height: 50px;
    color: #18181a;
    font-size: 1.25em;
    background: #fff;
    border-bottom: 1px solid #fff;
}
.search-btn{
    position: relative; 
     left: 30px; 
     top:2.5px; 
    transition: 0.5s ease-in-out;
}
.search-btn.active{
    left:0;
}
.close-btn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}
.close-btn.active{

    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}
.togglebar{
    position: relative;
    display: none;
}


.title {
    display: flex;
    justify-content: space-between;
    button a{
      text-decoration: none;
      color: black;
       
    }
    button{
        width: 30px;
    }
}

.content {
    display: flex;
    height: 100%;
    padding: 5px;
    position: relative;
}

.content::after {
    content: "";
    background-image: url(../media/2.jpg);
    position: absolute;
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    
    opacity: 0.2;
    border-radius: 10px;
}

.content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    z-index: 1;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.content-right img {
    height: 315px;
    border: 1px solid black;
    border-radius: 234px;
}

.home-articles {
    background-color: rgb(239, 225, 204);
    padding: 10px;
    position: relative;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article-img-container {
    width: 279px;
    height: 200px;
    overflow: hidden;
}

.home-article-img {
    width: 100%;
    height: 100%;
}

.home-article-content-container {
    width: 500px;
    overflow: hidden;
}

.home-article-content {
    align-self: center;
    padding-left: 50px;
}

.home-article-content a {
    text-decoration: none;
    color: var(--main-bg-color);
}


.footer {
    height: 100px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}